$map-light-theme: (
    brand: (
        50: #EAF9F3,
        100: #BCECD8,
        200: #9CE3C6,
        300: #6FD7AB,
        400: #53CF9B,
        500: #28C382,
        600: #24B176,
        700: #1C8A5C,
        800: #166B48,
        900: #115237,
    ),
    gray: (
        50: #F8FAFC,
        100: #F1F5F9,
        200: #E2E8F0,
        300: #CBD5E1,
        400: #94A3B8,
        500: #64748B,
        600: #475569,
        700: #334155,
        800: #1E293B,
        900: #0F172A,
    ),
    success: (
        50: #F0FDF4,
        100: #DCFCE7,
        200: #BBF7D0,
        300: #86EFAC,
        400: #4ADE80,
        500: #22C55E,
        600: #16A34A,
        700: #15803D,
        800: #166534,
        900: #14532D,
    ),
    warning: (
        50: #FEFCF0,
        100: #FEF8E2,
        200: #FCF1C5,
        300: #FBEAA7,
        400: #F9E285,
        500: #F7D85B,
        600: #EEC10C,
        700: #D1A90A,
        800: #AF8E09,
        900: #7E6606,
    ),
    danger: (
        50: #FEF2F2,
        100: #FEE2E2,
        200: #FECACA,
        300: #FCA5A5,
        400: #F87171,
        500: #EF4444,
        600: #DC2626,
        700: #B91C1C,
        800: #991B1B,
        900: #7F1D1D,
    ),
    orange: (
        50: #FFF7ED,
        100: #FFEDD5,
        200: #FED7AA,
        300: #FDBA74,
        400: #FB923C,
        500: #F97316,
        600: #EA580C,
        700: #C2410C,
        800: #9A3412,
        900: #7C2D12,
    ),
    gold: (
        50: #FFFAF0,
        100: #FFF5E0,
        200: #FFEBC2,
        300: #FFDD99,
        400: #FFCF70,
        500: #FFBF40,
        600: #FAA700,
        700: #DB9200,
        800: #B87A00,
        900: #855800,
    ),
    blue: (
        50: #E6F5FF,
        100: #B2DEFE,
        200: #8DCFFE,
        300: #59B9FE,
        400: #39ABFD,
        500: #0796FD,
        600: #0689E6,
        700: #056BB4,
        800: #04538B,
        900: #033F6A,
    ),
);

$map-dark-theme: (
    brand: (
        900: #EAF9F3,
        800: #BCECD8,
        700: #9CE3C6,
        600: #6FD7AB,
        500: #53CF9B,
        400: #28C382,
        300: #24B176,
        200: #1C8A5C,
        100: #166B48,
        50: #115237,
    ),
    gray: (
        900: #F8FAFC,
        800: #F1F5F9,
        700: #E2E8F0,
        600: #CBD5E1,
        500: #94A3B8,
        400: #64748B,
        300: #475569,
        200: #334155,
        100: #1E293B,
        50: #0F172A,
    ),
    success: (
        900: #F0FDF4,
        800: #DCFCE7,
        700: #BBF7D0,
        600: #86EFAC,
        500: #4ADE80,
        400: #22C55E,
        300: #16A34A,
        200: #15803D,
        100: #166534,
        50: #14532D,
    ),
    warning: (
        900: #FEFCF0,
        800: #FEF8E2,
        700: #FCF1C5,
        600: #FBEAA7,
        500: #F9E285,
        400: #F7D85B,
        300: #EEC10C,
        200: #D1A90A,
        100: #AF8E09,
        50: #7E6606,
    ),
    danger: (
        900: #FEF2F2,
        800: #FEE2E2,
        700: #FECACA,
        600: #FCA5A5,
        500: #F87171,
        400: #EF4444,
        300: #DC2626,
        200: #B91C1C,
        100: #991B1B,
        50: #7F1D1D,
    ),
    orange: (
        900: #FFF7ED,
        800: #FFEDD5,
        700: #FED7AA,
        600: #FDBA74,
        500: #FB923C,
        400: #F97316,
        300: #EA580C,
        200: #C2410C,
        100: #9A3412,
        50: #7C2D12,
    ),
    gold: (
        900: #FFFAF0,
        800: #FFF5E0,
        700: #FFEBC2,
        600: #FFDD99,
        500: #FFCF70,
        400: #FFBF40,
        300: #FAA700,
        200: #DB9200,
        100: #B87A00,
        50: #855800,
    ),
    blue: (
        900: #E6F5FF,
        800: #B2DEFE,
        700: #8DCFFE,
        600: #59B9FE,
        500: #39ABFD,
        400: #0796FD,
        300: #0689E6,
        200: #056BB4,
        100: #04538B,
        50: #033F6A,
    ),
);